.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.work__header {
  font-size: 30px;
  text-align: center;
  flex-grow: -1;
  flex-basis: 100%;
  padding: 1rem 0;
}

.work p {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 0 1rem;
}
.work h1 {
  margin: 0.3rem;
}

.work__imgcontainer {
  overflow: hidden;
  margin: 0.5rem;
}

.work__imgcontainer img {
  border-radius: 0.8rem;
  scale: 1;
}
.work__learnmore a {
  padding: 1rem;
  background: linear-gradient(#fafafa, lightgray);
  color: black;
  border-radius: 5px;
}

.workright {
  order: 1;
}

.work > * {
  flex-basis: 100%;
}

.work__text {
  flex-basis: 100%;
  text-align: center;
  font-style: italic;
  color: lightgray;
}
.work__textbox {
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 0.2em 0;
  width: 100%;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 45rem) {
  .workright {
  }
  .work__imgcontainer {
    min-height: 25rem;
  }
}
