.home {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: auto;
}
.home__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  animation: fadeIn 1s;
}
.home__header img {
  border-radius: 50%;
}

.home__name {
  flex-basis: 100%;
  text-align: center;
}
.home__bio {
  max-width: 30rem;
  padding: 2rem;
  margin: auto;
  text-align: center;
  animation: fadeIn 1s;
}
.home__social {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}
.home__social path {
  fill: white;
}
.home__social svg:hover {
  fill: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 45rem) {
  .home__header {
    flex-direction: row;
  }
  .home__name {
    text-align: left;
  }
}
