.logo {
    margin-right:auto;
}
.header {
    width:100%;
    font-size:20px;
}

.nav {
    display:flex;
    max-width:40rem;
    margin:auto;
}
.nav ul {
    display:flex;
    gap:1rem;
}
.nav li {
    display: inline;
}