.work {
  display: flex;
  flex-wrap: wrap;
  max-width: 45rem;
  padding: 1rem 0rem;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.work > .work__header {
  font-size: 30px;
  text-align: center;
  flex-grow: -1;
  flex-basis: 100%;
}

.work > p {
  flex-basis: 50%;
  flex-grow: 1;
  order: 2;
  padding: 0 1rem;
}
.work > h1 {
  margin-bottom: 0;
}

.work__imgcontainer {
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
}

.work > .work__learnmore {
  order: 5;
  text-align: center;
  display: inline-block;
  padding: 2rem;
}
.work__learnmore a {
  padding: 1rem;
  background: linear-gradient(#fafafa, lightgray);
  color: black;
  border-radius: 5px;
}

.workright {
  order: 1;
}

.work > * {
  flex-basis: 100%;
}
@media screen and (min-width: 45rem) {
  .workright {
  }
  .work__imgcontainer {
    min-height: 25rem;
  }
}
