:root {
  --default-accent-color: rgb(0, 111, 136);
  --default-background-color: rgb(43, 51, 65);
  /*--default-background-color: rgb(50, 50, 50);*/
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
html {
  background: var(--default-background-color);
}

body {
  color: white;
  background: linear-gradient(
    180deg,
    rgb(27, 40, 51) 0%,
    var(--default-background-color) 30%
  );
  transition: background 200ms ease;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
